# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# WordPress Headless
WORDPRESS_URL="https://cms.energiamalgrat.cat"
WORDPRESS_HOSTNAME="energiamalgrat.cat"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"

# Drizzle
DATABASE_URL="mysql://root:password@localhost:3306/emalgrat-web-next"

# NEXT_PUBLIC_XXX
# These variables are exposed to the browser, so do not put any secrets here.
NEXT_PUBLIC_SITE_URL="https://www.energiamalgrat.cat"
