# This is a workaround for pnpm >= 10.x where they removed the public-hoist-pattern default option in 9.5
# Maybe can be removed when eslint-config-next and it's required plugins are updated to use new eslint flat config 
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
